ul.gnav-navi-1{
background:skyblue;
padding: 0;
text-align: center;
   position: fixed;
   width: 100%;
   top:0;
   z-index:500;
    height:100px;
    
}
ul.gnav-navi-1 li{
display: inline-block;

}


ul.gnav-navi-1 li a{
display: block;
padding: 1em;
color: black;
text-decoration: none;
}
ul.gnav-navi-1 a::first-line{
font-size: 20px;
font-weight: bold;
}

.a{
     display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 60%;
    margin: 100px 10px 10px 200px;
    padding-top: 30px;
} 